/* Hide scrollbar for Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE 10+ */
}

/* target the element(s) that should have a custom scrollbar */
.custom-scroll {
  overflow: auto;
}

/* Chrome, Edge, Safari (WebKit / Blink) */
.custom-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px; /* horizontal scrollbar height */
}
.custom-scroll::-webkit-scrollbar-track {
  background: #FCE7F3; /* track color */
  border-radius: 9999px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #F43F5E; /* thumb color */
  border-radius: 9999px;
  border: 2px solid #FCE7F3; /* creates padding around thumb */
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #E11D48;
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: #F43F5E #FCE7F3; /* thumb color then track color */
}
